[Unit]
Description=Gravitee.io API Management - Management API
After=network.target

[Service]
Type=simple
User=gravitee
ExecStart=/opt/graviteeio/apim/api/bin/gravitee
Restart=on-abort

[Install]
WantedBy=multi-user.target