[Unit]
Description=Gravitee.io Alert Engine
After=network.target

[Service]
Type=simple
User=gravitee
ExecStart=/opt/graviteeio/ae/bin/gravitee
Restart=on-abort

[Install]
WantedBy=multi-user.target