[Unit]
Description=Gravitee.io Access Management - Access Gateway
After=network.target

[Service]
Type=simple
User=gravitee
LimitNOFILE=65536
ExecStart=/opt/graviteeio/am/gateway/bin/gravitee
Restart=on-abort

[Install]
WantedBy=multi-user.target